.hero-section {
  background-image: url(../../images/hero/hero-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  padding: 13rem 0 0 0;


  .wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;    

    .contents-area {
      display: flex;
      flex-direction: column;
      width: 55%;

      @include desktop-small {
        width: 100%;
      }

      .hero-title {
        font-size: 72px;
        font-style: normal;
        font-weight: 700;
        line-height: 90px; /* 125% */
        letter-spacing: -1.44px;
        text-transform: capitalize;

        @include desktop-small {
          font-size: 48px;
          font-weight: 600;
          line-height: 60px; /* 125% */
          letter-spacing: -0.96px;
        }
      }

      .brief {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; /* 150% */
        margin: 24px 0 60px 0;

        @include desktop-small {
          font-size: 18px;
          line-height: 28px; /* 155.556% */
        }
      }

      .actions {
        .hero-btn {
          text-decoration: none;
          color: var(--color-white);
          padding: 16px 28px;
          border-radius: 12px;
          background: var(--color-primary, #4E71FF);
          width: fit-content;

          /* Shadow/xs */
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

          display: flex;
          gap: 12px;
          align-items: center;
        }
      }

    }

    .image-area {
      width: 45%;
      position: relative;

      @include desktop-small {
        width: 100%;
      }

      .main-img {
        margin-left: 40%;
        z-index: 2;
        position: relative;
      }

      .bg-img {
        position: absolute;
        z-index: 1;
      }

      .bg-img-1 {
        left: 44%;
        top: 0%;
      }

      .bg-img-2 {
        bottom: 36%;
        margin-left: 107%;
      }


    }

  }
}