.page-home {
  .about-image-area {
    display: none;
  }

  .hero-section {
    .about-hero-bg-img {
      display: none;
    }
  }
}

.page-about {

  .hero-section {
    .hero-bg-img {
      display: none;
    }

    @include desktop-small {
      background-image: url(../../images/hero/about-hero-bg-mobile.png);
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: 100%;
      padding: 6rem 0 130rem 0;
    }

    @include xl-tablet {
      background-image: url(../../images/hero/about-hero-bg-mobile.png);
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: 100%;
      padding: 6rem 0 124rem 0;
    }

    @include lg-tablet {
      background-image: url(../../images/hero/about-hero-bg-mobile.png);
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: 100%;
      padding: 6rem 0 111rem 0;
    }

    @include tablet {
      background-image: url(../../images/hero/about-hero-bg-mobile.png);
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: 100%;
      padding: 6rem 0 98rem 0;
    }

    @include md-tablet {
      background-image: url(../../images/hero/about-hero-bg-mobile.png);
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: 100%;
      padding: 6rem 0 89rem 0;
    }

    @include sm-tablet {
      background-image: url(../../images/hero/about-hero-bg-mobile.png);
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: 100%;
      padding: 6rem 0 81rem 0;
    }

    @include mobile {
      background-image: url(../../images/hero/about-hero-bg-mobile.png);
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: 100%;
      padding: 6rem 0 73rem 0;
    }

    @include md-mobile {
      background-image: url(../../images/hero/about-hero-bg-mobile.png);
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: 100%;
      padding: 6rem 0 62rem 0;
    }

    @include sm-md-mobile {
      background-image: url(../../images/hero/about-hero-bg-mobile.png);
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: 100%;
      padding: 6rem 0 55rem 0;
    }

    @include sm-mobile {
      background-image: url(../../images/hero/about-hero-bg-mobile.png);
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: 100%;
      padding: 6rem 0 51rem 0;
    }

    .wrapper {
      .contents-area {
        @include desktop-small {
          padding: 0;
        }
      }
    }

  }

  .image-area {
    display: none;
  }
}

.hero-section {
  padding: 20rem 0 7rem 0;
  position: relative;
  overflow: hidden;

  @include desktop-small {
    background-image: url(../../images/hero/hero-bg-mobile.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 6rem 0 0rem 0;
  }

  .hero-bg-img {
    width: 45%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;

    @include desktop-small {
      display: none;
    }
  }

  .about-hero-bg-img {
    width: 45%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;

    @include desktop-small {
      display: none;
    }
  }

  .wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;   
    
    @include desktop-small {
      flex-direction: column;
    }

    .contents-area {

      display: flex;
      flex-direction: column;
      width: 55%;

      @include desktop-small {
        width: 100%;
        padding:  0 0 8rem 0;
      }

      .hero-title {
        font-size: 72px;
        font-style: normal;
        font-weight: 700;
        line-height: 90px; /* 125% */
        letter-spacing: -1.44px;
        text-transform: capitalize;

        @include desktop-small {
          font-size: 48px;
          font-weight: 600;
          line-height: 60px; /* 125% */
          letter-spacing: -0.96px;
        }
      }

      .brief {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; /* 150% */
        margin: 24px 0 60px 0;

        @include desktop-small {
          font-size: 18px;
          line-height: 28px; /* 155.556% */
        }
      }

      .actions {
        .hero-btn {
          text-decoration: none;
          color: var(--color-white);
          padding: 16px 28px;
          border-radius: 12px;
          background: var(--color-primary, #4E71FF);
          width: fit-content;

          /* Shadow/xs */
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

          display: flex;
          gap: 12px;
          align-items: center;
        }
      }

    }

    .image-area {
      width: 45%;

      position: relative;

      @include desktop-small {
        width: 100%;
      }

      .main-img {
        z-index: 2;
        position: absolute;
        right: -30px;
        bottom: -112px;
        width: 100%;

        @include desktop-small{
          position: static
        }
        
      }

      .bg-img {
        position: absolute;
        z-index: 1;
      }

      .bg-img-1 {
        left: 2.5rem;
        top: -29.5%;

        @include desktop-small {
          display: none;
        }
      }

      .bg-img-2 {
        bottom: 47%;
        right: -8%;

        @include desktop-small {
          display: none;
        }
      }


    }

  }
}